<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#2">Link 2</a>
      <a mat-list-item href="#3">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">

      <!-- I explicitly added this, it come out of the box under the isHandset business below -->
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>My Angular App</span>
    </mat-toolbar>

    <!-- Some buttons -->
    <button mat-flat-button
            type="button"
    >
      Plain
    </button>
    <button mat-flat-button
            type="button"
            color="primary"
    >
      Primary (m2)
    </button>
    <button mat-flat-button
            type="button"
            class="primary-button"
    >
      Primary (m3)
    </button>
    <button mat-flat-button
            type="button"
            color="secondary"
    >
      Secondary (m2)
    </button>
    <button mat-flat-button
            type="button"
            class="secondary-button"
    >
      Secondary (m3)
    </button>
    <button mat-flat-button
            type="button"
            color="accent"
    >
      Accent (m2)
    </button>
    <button mat-flat-button
            type="button"
            class="tertiary-button"
    >
      Tertiary (m3)
    </button>
    <button mat-flat-button
            type="button"
            color="warn"
    >
      Warn (m2)
    </button>
    <button mat-flat-button
            type="button"
            class="warn-button"
    >
      Warn (m3)
    </button>
    <button mat-flat-button
            type="button"
            color="error"
    >
      Error (m2)
    </button>
    <button mat-flat-button
            type="button"
            class="error-button"
    >
      Error (m3)
    </button>

    <!-- Add Content Here -->
    <h2>A mat-slide-toggle component</h2>
    <mat-slide-toggle>Toggle Me!</mat-slide-toggle>
    <h2>An address form</h2>
    <app-my-address-form/>
    <h2>A table</h2>
    <app-my-table/>
    <h2>A tree</h2>
    <app-my-tree/>
    <h2>A dashboard</h2>
    <app-my-dashboard/>
    <router-outlet />

  </mat-sidenav-content>
</mat-sidenav-container>
